@import '../../../config-scss/rem-calc.scss';

:host{
  form{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(241, 9, 9, 0.8);
    padding: rem-calc(15) rem-calc(20);
    border-radius:  rem-calc(10);
font-weight: bold;
  }
  input{
    width: 95%;
    background: none;
    border: none;

  }
}
input::placeholder {
  color:white;
  font-size: 15pt;
}
